@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');

/* HEADER */
.header {
	position: fixed;
	width: 100%;
	height: 7em;
	left: 0px;
	top: 0px;
	z-index: 999998;

	background: #FFFFFF;
	box-shadow: 0px 5px 10px 2px #00000048;
}

#header-lizard {
	position: relative;
	display: flex;
	align-items: flex-start;

	left: 8em;
	top: 1em;
	margin: 0;
	margin-left: -145px;
}


.header h1 {
	width: 180px;
	height: fit-content;

	font-family: 'ABeeZee', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #000000;
}

.header p {
	position: absolute;
	height: 22px;
	left: 15em;
	top: 4em;
	margin: 0;
	margin-left: -145px;

	font-family: 'ABeeZee', sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	color: #989898;
}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 110px;
	z-index: -1;
	filter: blur(4px);
	clip-path: url(#bg-clip);
}

#bg-svg {
	position: absolute;
	z-index: 1;
	left: 0;
	height: 100%;
	width: 100%;
}

#background-mask {
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
	top: 8.5em;
	z-index: 0;
}

#lizard-above {
	position: absolute;
	left: 15em;
	margin-left: 50px;
	top: 10px;
	width: 63.48px;
	transition: all 1s ease;
}

/* CONTAINERS */
.sidenav-main {
	position: fixed;
	display: flex;
	z-index: 999999;
	left: calc(100% - 20em);
	padding-top: 4em;
}

#main-container {
    position: relative;
	width: 100%;
	height: auto;
	padding-top: 10em;
}

/* SIDENAV SPECIFICS */
.sidenav-title {
	margin: 1px 1em 1em 1px;

	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
}

.sidenav-active {
	color: black;
	height: 2em;
}

.sidenav-inactive {
	color: rgba(0, 0, 0, 0.37);
	height: 2em;
}

.sidenav-inactive:hover {
	text-decoration: underline;
}

.coffee-img {
	position: fixed;
	width: 1440px;
	height: 777px;
	z-index: -1;
	left: 50%;
	top: -1em;
	margin-left: -720px;

	filter: blur(4px);
}

#click-to-main {
	position: absolute;
    width: 19em;
    left: 6em;
    height: 6em;
    z-index: 10;
}

/* ABOUT PAGE */
.content-main {
	position: relative;
	display: flex;
	left: 50%;
	top: 7em;
	margin-left: -40em;
	width: fit-content;
	padding: 1em;
	z-index: 1;
}

.content-main h1 {
	position: absolute;
	top: -20px;
	font-size: 38px;
	font-weight: 100;
	line-height: 0;
	font-family: 'ABeeZee', sans-serif;
}

.content-main p {
	position: absolute;
	top: 1.5em;
	font-size: 22px;
	line-height: 1.3;
	font-family: 'Open-Sans', sans-serif;
}

#portrait {
	position: static;
	margin-top: -1.3em;
	width: 237px;
	height: 325px;
	border-radius: 20px;
}

#about-bg {
	background-color:#f1f1f1;
	width: 84em;
	height: 30em;
	position: relative;
	left: 50%;
	z-index: 0;
	margin-left: -42em;
	margin-top: -18em;
	border-radius: 15px;
}

/* ICONS */
#icons {
	display: flex;
	align-items: center;

	z-index: 5;
	position: absolute;
	top: -1em;
	margin-left: 84%;
}

.icon {
	opacity: 0.4;
}

.icon:hover {
	cursor: pointer;
	opacity: 1;
}

#insta-icon {
	width: 53px;
	height: 42px;
	margin-right: 1em;
}

#linkedin-icon {
	width: 28px;
	height: 28px;
	margin-right: 1.9em;
}

#vimeo-icon {
	width: 28px;
	height: 28px;
}

#behance-icon {
	width: 53px;
	height: 42px;
}

/* CONTACT PAGE */
#contact {
	margin-left: -470px;
}

#about-text {
	margin-top: 5px;
	width: 58em;
	padding-left: 4em;
}

#about-text a {
	color: blue;
}

#about-text a:hover {
	text-decoration: underline;
	cursor: pointer;
}

#about-footer {
	position: relative;
	top: 1em;
	margin-left: -15em;
	text-align: center;
}