@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Open+Sans&display=swap');

/* HEADER */

.header {
	position: fixed;
	width: 1440px;
	height: 5em;
	left: 0px;
	top: 0px;
	z-index: 5;

	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header h1 {
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 21px;
	top: 5px;
	margin: 0;

	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 57px;

	color: #000000;
}

.header p {
	position: absolute;
	width: 515px;
	height: 22px;
	left: 21px;
	top: 3em;
	margin: 0;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	color: #989898;
}

/* CONTAINERS */
.router-container {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: start;
	top: 5em;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

.content-container {
	height: 50em;
	width: 75%;
	background-color: white;
}

.sidenav-main {
	display: flex;
	flex-direction: column;
	padding: 3em 2em 3em 2em;

	width: fit-content;

	font-family: 'ABeeZee', sans-serif;
}

/* SIDENAV SPECIFICS */
.sidenav-title {
	height: 1em;
	width: fit-content;

	font-size: 2.5em;
	font-weight: 400;
}

.sidenav-active {
	color: white;
}

.sidenav-inactive {
	color: rgba(255, 255, 255, 0.5);
}

.coffee-img {
	position: fixed;
	width: 1440px;
	height: 777px;
	z-index: -1;
	left: 50%;
	top: -1em;
	margin-left: -720px;

	filter: blur(4px);
}

/* CONTENT */
.content-main {
	position: absolute;
	padding: 2em 2em 2em 4em;
}

.content-main h1 {
	padding-left: 2em;
	font-size: 38px;
	font-weight: 100;
	font-family: 'ABeeZee', sans-serif;
}

.content-main p {
	width: 75%;
	font-size: 22px;
	font-family: 'Open-Sans', sans-serif;
}