@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');

/* HEADER */

.header {
	position: fixed;
	width: 100%;
	height: 7em;
	left: 0px;
	top: 0px;
	z-index: 5;

	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header-lizard {
	position: relative;
	display: flex;
	align-items: flex-start;

	left: 50%;
	top: 0.3em;
	margin: 0;
	margin-left: -145px;
}

#lizard-above {
	padding: 0.7em 0 0 0.5em;
	width: 42.08px;
	height: 45.43px;
	transform: rotate(-20.91deg);
}

.header h1 {
	width: 180px;
	height: fit-content;

	font-family: 'ABeeZee', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #000000;
}

.header p {
	position: absolute;
	width: 290px;
	height: 22px;
	left: 50%;
	top: 4em;
	margin: 0;
	margin-left: -145px;

	font-family: 'ABeeZee', sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	color: #989898;
}

/* CONTAINERS */
.router-container {
	position: relative;
	top: 4.5em;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

.sidenav-main {
	position: fixed;
	display: flex;
	z-index: 5;
	left: 3em;
}

.content-container {
	height: 50em;
	width: 75%;
	background-color: white;
}

/* SIDENAV SPECIFICS */
.sidenav-title {
	margin: 1px 1em 1em 1px;

	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
}

.sidenav-active {
	color: black;
}

.sidenav-inactive {
	color: rgba(0, 0, 0, 0.37);
}

.coffee-img {
	position: fixed;
	width: 1440px;
	height: 777px;
	z-index: -1;
	left: 50%;
	top: -1em;
	margin-left: -720px;

	filter: blur(4px);
}

/* CONTENT */
.content-main {
	position: absolute;
	padding: 2em 2em 2em 4em;
}

.content-main h1 {
	padding-left: 2em;
	font-size: 38px;
	font-weight: 100;
	font-family: 'ABeeZee', sans-serif;
}

.content-main p {
	width: 75%;
	font-size: 22px;
	font-family: 'Open-Sans', sans-serif;
}

/* ICONS */
#icons {
	display: flex;
	align-items: center;

	z-index: 5;
	position: fixed;
	left: 90%;
	top: 4em;
	margin-left: -4vw;
}

#insta-icon {
	width: 53px;
	height: 42px;
	opacity: 0.4;
}

#linkedin-icon {
	width: 28px;
	height: 28px;
	opacity: 0.4;
	margin-right: 4px;
}

#behance-icon {
	width: 53px;
	height: 42px;
	opacity: 0.4;
}