.drag-container-main {
    position: relative;
}

.piece-content {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    left: 20px;
    top: 20px;
}

.piece-bg {
    position: absolute;
    z-index: 1;
    opacity: 0.9;
}

#fishPA {
    top: 0;
    left: 8em;
}

#hand {
    top: 18em;
    left: 38em;
}