.drag-container-main {
    position: relative;
}

.piece-content {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    left:15px;
    top: 28px;
}

.piece-bg {
    position: absolute;
    z-index: 1;
    opacity: 0.9;
}

#fishPA {
    top: -3em;
    left: 3em;
}

#hand {
    top: -2em;
    left: 41em;
}

#sleep {
    top: 0;
    left: 25em;
}

#aliens {
    top: 19em;
    left: 10em;
}

#couch {
    top: 27em;
    left: 22em;
}

#places {
    top: 17em;
    left: 38em;
}