/* HOMEPAGE */
.homepage-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: -2em;
    z-index: 5;
    top: 20vh;
}

#artist-text {
    padding-bottom: 2em;
}

#educator-text {
    padding-left: 8em;
}

#flower {
    position: fixed;
    top: calc(25vh + 3em);
    left: calc(50% - 30em);
    z-index: 4;
    animation: spinner 15s ease-in-out infinite alternate;
}

.ampersand {
    position: absolute;
    top: calc(30vh + 3em);
    left: calc(50% + 5em);
    z-index: 4;
}

#amp-yellow {
    animation: rightMin 20s ease-out forwards;
}

#amp-red {
    animation: rightMax 20s ease-out forwards;
}

@keyframes spinner {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
     }
}

@keyframes rightMin {
    from { transform: translateX(0); }
    to { transform: translateX(50px); }
}

@keyframes rightMax {
    from { transform: translateX(0); }
    to { transform: translateX(100px); }
}