/* PROJECTS PAGE*/

/* GENERAL */
.project-container-main {
	position: relative;
	left: 50%;
	top: 3em;
	margin-left: -35em;
	width: 70em;
	background: #F4F4F4;
	border-radius: 10px;
	display: flex;

	height: 80em;
	max-height: 38em;
	transition: max-height 200ms ease;
	overflow: hidden;
}

.desc-container {
	padding: 6em 4em 2em 6em;
	pointer-events: none;
}

.desc-container h2 {
	font-family: ABeeZee;
	line-height: 0%;
	font-size: 28px;
	color: #000000;
}

.desc-container em {
	font-family: Open Sans;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 0;
	color: #8A8A8A;
}

.desc-container p {
	font-family: Open Sans;
	font-size: 20px;
	width: 20em;
	pointer-events: auto;
}

.desc-container a {
	pointer-events: auto;
}

.desc-container a:hover {
	text-decoration-color: blue;
}

.changer:hover {
	background: #ebebeb;
	cursor: pointer;
}

.overflow-text {
	font-family: Open Sans;
	font-size: 20px;

	pointer-events: none;
	position: absolute;
	padding: 0 4em 0 4.8em;
	top: 30.5em;
}

.overflow-text a {
	pointer-events: auto;
}

.overflow-text a:hover {
	text-decoration-color: blue;
}

/* LIZARD LEARNING */

.image-container {
	margin-top: 4em;
	pointer-events: none;
}

#title-bar {
	position: absolute;
	top: 1.1em;
	margin-left: -2.1em;

	width: 520px;
	height: auto;
}

#gif-bg {
	position: absolute;
	margin-left: -14px;

	width: 478px;
	height: 450px;
	background-color: #C4C4C4;
	border-radius: 0px 0px 5px 5px;
	z-index: 0;
}

#temp-image {
	position: absolute;
	width: 449px;
	height: 436px;
	z-index: 1;
}

.intro-text {
	position: relative;
	left: 50%;
	margin-left: -35em;
	width: 70em;
}

.intro-text h2 {
	font-family: ABeeZee;
	line-height: 0%;
	font-size: 28px;
}

.intro-text p {
	font-family: Open Sans;
	font-size: 20px;
}

.end-padding {
	position: relative;
	width: 100%;
	height: 5em;
	top: 5em;
}

/* ILUSTRATION */
.project-container-secondary {
	position: relative;
	left: 50%;
	top: 0;
	margin-top: 6em;
	margin-left: -35em;
	width: 70em;
	background: #F4F4F4;
	border-radius: 10px;

	height: 65em;
	transition: max-height 200ms ease;
	overflow: hidden;
}

#illustration-desc {
	padding: 3em 4em 2em 4.3em;
	pointer-events: none;
	font-family: Open Sans;
	font-size: 20px;
	width: 50em;
}

#illustration-desc em {
	position: relative;
	top: -1.2em;
	font-family: Open Sans;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 0;
	color: #8A8A8A;
}

#illustration-desc p {
	position: relative;
	top: -1em;
}

#work-container {
	position: relative;
	top: -6em;
	left: 50%;
	margin-left: -30em;
}

#work-title-bar {
	filter: invert(.2);
	width: 60em;
	height: auto;
}

#work-bg {
	position: relative;
	background-color: #d4d4d4;
	top: -70px;
	left: 50%;
	margin-left: -764px;
	width: 883px;
	height: 30em;
}

/* VIDEO REEL */
.project-container-tertiary {
	position: relative;
	left: 50%;
	top: 0;
	margin: 6em 0 10em -35em;
	width: 70em;
	background: #F4F4F4;
	border-radius: 10px;
	display: flex;
	
	height: 80em;
	max-height: 31em;
	transition: max-height 200ms ease;
	overflow: hidden;
}

.project-container-tertiary .desc-container {
	margin-left: -1.5em;
	margin-top: -2.2em;
}

#reel-text {
	width: 15em;
}

.project-container-tertiary .desc-container:hover {
	pointer-events: auto;
}

#vimeo-iframe {
	margin-left: -2em;
}