body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1::selection {
  background: #22478E;
  color: white;
}

h2::selection {
  background: #22478E;
  color: white;
}

p::selection {
  background: #22478E;
  color: white;
}

em::selection {
  background: #22478E;
  color: white;
}

a::selection {
  background: #22478E;
  color: rgb(255, 253, 123);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}